@model Umniah_E_Sport.Tool.Models.GetVideoByIdVm

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GetVideoByIdVm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoFileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title_AR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title_AR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title_EN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title_EN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description_AR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description_AR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description_EN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description_EN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
