@model IEnumerable<Umniah_E_Sport.Tool.Models.NewsCardVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="example" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title_EN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title_AR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description_EN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description_AR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title_EN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title_AR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description_EN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description_AR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
