@model IEnumerable<Umniah_E_Sport.Tool.Models.GetAllUsersOrderedByScoreVm>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table id="example" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @Html.ActionLink("User Tournaments", "UserTournaments","Tournament", new {  id=item.Id  }) |
                    @Html.ActionLink("User Games", "UserGames","Game", new {  id=item.Id  }) |
                    @Html.ActionLink("User Achievements", "Index","Achievements", new {  userId=item.Id  })
                </td>
            </tr>
        }
    </tbody>
</table>
