@model Umniah_E_Sport.Portal.Models.UserTournamentsVM
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    var isEn = localizer["Lang"].Value == "en";
}


@{
    Layout = "_Layout";
}
<div class="
						col-12
						mt-4
						mb-2
						d-flex
						align-items-center
						justify-content-between
					">
    <div class="fs-24 ff-vf-bold d-flex align-items-center">
        <a onclick="goBack()">
            <img class="rtl-svg mr-3" src="~/images/icons/leftarrow.svg" />
        </a>
        My Tournaments
    </div>
    <div class="">
        <img class="" src="~/images/icons/search.svg" alt="" />
    </div>
</div>

<main class="main-container">

    <section class="row no-gutters">
        <div>
        <div class="ff-vf-bold fs-16 p-3">@localizer["LiveTournaments"]</div>
         @if (Model.LiveTournaments == null || Model.LiveTournaments.Count() == 0)
      {
      }
      else
      {
            @foreach (var card in Model.LiveTournaments)
            {
                <!-- repeatable card -->
                <a asp-controller="Tournaments" asp-action="LaunchGame" asp-route-tournamentId=@card.Id>
                    <div class="tornment-card col-12 row no-gutters p-3 mb-1 bg-secondary">
            <div class="col-4">
                <img class="w-100 object-fit-cover" src="~/images/game1.png" height="200" />
            </div>
            <div class="col-7 mx-auto d-flex flex-column">
                <div class="fs-16">Umniah Iraq</div>
                <div class="fs-18 ff-vf-bold line-1-1">
                     @(isEn ? card.Title_EN : card.Title_AR)
                     @(isEn ? card.Description_EN : card.Description_AR)
                </div>
                <div class="fs-16 text-secondary my-2">
                  <img class="mr-2" src="~/images/icons/cup.svg" alt="" /> @card.PrizeAmount @localizer["ILS"]
                </div>
                <div class="fs-16 mt-1">
                    <img class="mr-2" src="~/images/icons/controller.svg" alt="" />
                     @(isEn ? card.TournamentTypeText_EN : card.TournamentTypeText_AR)
                </div>
                <div class="fs-16 mt-1">
                 <img class="mr-2" src="~/images/icons/location.svg" alt="" />@(isEn ? card.LocationText_EN : card.LocationText_AR)
                </div>
                <div class="mt-auto w-100 d-flex">
                    <button class="ml-auto
										mr-n3
										btn
										bg-highlight
										br-0
										py-1
										px-4
										text-primary
										ff-vf-bold
										fs-18
									">
                     @localizer["Enter"]
                    </button>
                </div>
            </div>
        </div>
        </a>
        }
        }
        </div>
        <!-- repeatable card -->
      @*  <div class="tornment-card col-12 row no-gutters p-3 mb-1 bg-secondary">
            <div class="col-4">
                <img class="w-100 object-fit-cover" src="~/images/game1.png" height="200" />
            </div>
            <div class="col-7 mx-auto d-flex flex-column">
                <div class="fs-16">Umniah Iraq</div>
                <div class="fs-18 ff-vf-bold line-1-1">
                    PUBG Mobile Tournament Season 01
                </div>
                <div class="fs-16 text-secondary my-2">
                    <img class="mr-2" src="./images/icons/cup.svg" alt="" /> 5,000 EGP
                </div>
                <div class="fs-16 mt-1">
                    <img class="mr-2" src="./images/icons/controller.svg" alt="" />
                    Single player tournament
                </div>
                <div class="fs-16 mt-1">
                    <img class="mr-2" src="./images/icons/location.svg" alt="" />Online
                </div>
                <div class="mt-auto w-100 d-flex">
                    <button class="
										ml-auto
										mr-n3
										btn
										bg-highlight
										br-0
										py-1
										px-4
										text-primary
										ff-vf-bold
										fs-18
									">
                        Enter
                    </button>
                </div>
            </div>
        </div>*@

    </section>

    <section class="row no-gutters">
        <div class="ff-vf-bold fs-16 pt-3 px-3">@localizer["UpcomingTournaments"]</div>
         @if (Model.UpcomingTournaments == null || Model.UpcomingTournaments.Count() == 0)
      {
            @*<p class="mt-3 mx-auto NoData">@localizer["NoData"]</p>*@
        }
        else
        {
            @foreach (var card in Model.UpcomingTournaments)
            {
                <!-- repeatable card -->
                <a asp-controller="Tournaments" asp-action="LaunchGame" asp-route-tournamentId=@card.Id>
                    <div class="tournament-timer-card row no-gutters p-3 bg-secondary mt-3">
            <div class="col-3 game-poster">
                <img class="w-100 h-100 object-fit-cover" src="./images/game1.png" alt="" />
            </div>
            <div class="col ml-3">
                <div class="fs-16 ff-vf-reg mb-1">Umniah Iraq</div>
                <div class="fs-18 ff-vf-bold line-1-1">
                  @(isEn ? card.Title_EN : card.Title_AR)
                </div>

                    <div class="timer d-flex justify-content-between mt-2 w-75" data-time="@card.NumberOfMillisecond">
                    <div class="d-flex flex-column align-items-center">
                        <div class="days line-1-1 ff-vf-bold fs-32 text-secondary">
                            00
                        </div>
                        <div class="fs-12">@localizer["Days"]</div>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <div class="hours line-1-1 ff-vf-bold fs-32 text-secondary">
                            00
                        </div>
                        <div class="fs-12">@localizer["Hours"]</div>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <div class="minutes line-1-1 ff-vf-bold fs-32 text-secondary">
                            00
                        </div>
                        <div class="fs-12">@localizer["Mins"]</div>
                    </div>
                   @* <div class="d-flex flex-column align-items-center">
                        <div class="seconds line-1-1 ff-vf-bold fs-32 text-secondary">
                            00
                        </div>
                        <div class="fs-12">Sec</div>
                    </div>*@
                </div>
            </div>
        </div>
        </a>
        }
        }
        <!-- repeatable card -->
       @* <div class="tournament-timer-card row no-gutters p-3 bg-secondary mt-3">
            <div class="col-3 game-poster">
                <img class="w-100 h-100 object-fit-cover" src="./images/game1.png" alt="" />
            </div>
            <div class="col ml-3">
                <div class="fs-16 ff-vf-reg mb-1">Umniah Iraq</div>
                <div class="fs-18 ff-vf-bold line-1-1">
                    PUBG Mobile Tournament Season 01
                </div>

                <div class="timer d-flex justify-content-between mt-2 w-75" data-time="1625305841">
                    <div class="d-flex flex-column align-items-center">
                        <div class="days line-1-1 ff-vf-bold fs-32 text-secondary">
                            00
                        </div>
                        <div class="fs-12">Days</div>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <div class="hours line-1-1 ff-vf-bold fs-32 text-secondary">
                            00
                        </div>
                        <div class="fs-12">Hours</div>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <div class="minutes line-1-1 ff-vf-bold fs-32 text-secondary">
                            00
                        </div>
                        <div class="fs-12">Mins</div>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <div class="seconds line-1-1 ff-vf-bold fs-32 text-secondary">
                            00
                        </div>
                        <div class="fs-12">Sec</div>
                    </div>
                </div>
            </div>
        </div>*@
    </section>

    <section class="row no-gutters">
        <div class="ff-vf-bold fs-16 p-3">@localizer["CompletedTournaments"]</div>
         @if (Model.FinishedTournaments == null || Model.FinishedTournaments.Count() == 0)
      {
       
      }
      else
      {
            @foreach (var card in Model.FinishedTournaments)
            {
                <!-- repeatable card -->
                <a asp-controller="Tournaments" asp-action="Details" asp-route-tournamentId=@card.Id>
                    <div class="tornment-card col-12 row no-gutters p-3 mb-1 bg-secondary">
            <div class="col-4">
                <img class="w-100 object-fit-cover" src="~/images/game1.png" height="200" />
            </div>
            <div class="col-7 mx-auto">
                <div class="fs-16">Umniah Iraq</div>
                <div class="fs-18 ff-vf-bold line-1-1">
                    PUBG Mobile Tournament Season 01
                </div>
                <div class="fs-16 text-secondary my-2">
                    <img class="mr-2" src="~/images/icons/cup.svg" alt="" /> 5,000 EGP
                </div>
                <div class="fs-16 mt-1">
                    <img class="mr-2" src="~/images/icons/controller.svg" alt="" />
                    Single player tournament
                </div>
                <div class="fs-16 mt-1">
                    <img class="mr-2" src="~/images/icons/time.svg" alt="" />15 May
                    2021, 07:00 PM
                </div>
                <div class="fs-16 mt-1">
                    <img class="mr-2" src="~/images/icons/location.svg" alt="" />Online
                </div>
                <div class="fs-16 mt-1 text-highlight text-right mr-n3">
                    Finished
                </div>
            </div>
            
        </div>
        </a>
        }
        }
        
        <!-- repeatable card -->
      @*  <div class="tornment-card col-12 row no-gutters p-3 mb-1 bg-secondary">
            <div class="col-4">
                <img class="w-100 object-fit-cover" src="./images/game1.png" height="200" />
            </div>
            <div class="col-7 mx-auto">
                <div class="fs-16">Umniah Iraq</div>
                <div class="fs-18 ff-vf-bold line-1-1">
                    PUBG Mobile Tournament Season 01
                </div>
                <div class="fs-16 text-secondary my-2">
                    <img class="mr-2" src="./images/icons/cup.svg" alt="" /> 5,000 EGP
                </div>
                <div class="fs-16 mt-1">
                    <img class="mr-2" src="./images/icons/controller.svg" alt="" />
                    Single player tournament
                </div>
                <div class="fs-16 mt-1">
                    <img class="mr-2" src="./images/icons/time.svg" alt="" />15 May
                    2021, 07:00 PM
                </div>
                <div class="fs-16 mt-1">
                    <img class="mr-2" src="./images/icons/location.svg" alt="" />Online
                </div>
                <div class="fs-16 mt-1 text-highlight text-right mr-n3">
                    Finished
                </div>
            </div>
        </div>*@

    </section>
</main>