@model Umniah_E_Sport.Tool.Models.GetAchievementByIdVm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GetAchievementByIdVm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name_EN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name_EN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name_AR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name_AR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.Id*/  }) |
    <a asp-action="Index" asp-route-userId = "@Model.UserId">Back to List</a>
</div>
