@model Umniah_E_Sport.Tool.Models.GetLocationByIdVm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GetLocationByIdVm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text_EN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text_EN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text_AR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text_AR)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id  }) |
    <a asp-action="Index">Back to List</a>
</div>
